body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffecec
}

a {
    color: #333;
    text-decoration: none
}

button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all .3s ease
}

button:hover {
    background-color: #555
}

header {
    background: linear-gradient(90deg, #ffb0b0, #7a0066)
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.logo-container {
    width: 30%
}

.logo-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.nav-buttons-container {
    width: 70%
}

.nav-buttons ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0
}

.nav-buttons li {
    margin: 0 10px
}

.nav-buttons a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border: 2px solid #e83e8c;
    border-radius: 50px;
    padding: 10px 20px;
    transition: all .2s ease-in-out
}

.nav-buttons a:hover {
    background-color: #e83e8c;
    color: #fff
}

@media screen and (max-width:768px) {
    .nav-buttons-container {
        width: 100%
    }

    .nav-buttons ul {
        flex-wrap: wrap;
        justify-content: space-evenly
    }
}

section {
    margin: 20px 0;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px
}

section h2 {
    margin-bottom: 20px
}

ul {
    list-style: disc;
    margin-left: 20px
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center
}

li img {
    width: 150px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2)
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px
}

footer p {
    margin-bottom: 0
}

#inicio h1 span:first-child {
    color: red
}

#inicio h1 span:nth-child(2) {
    color: #0f0
}

#inicio h1 span:nth-child(3) {
    color: #00f
}

#inicio h1 span:nth-child(4) {
    color: #ff0
}

#inicio h1 span:nth-child(5) {
    color: #f0f
}

#inicio h1 span:nth-child(6) {
    color: #0ff
}

#inicio h1 span:nth-child(7) {
    color: orange
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #fafafa
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #333
}

.container p {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 400
}

.container button {
    background-color: #ffae00;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease
}

.container button:hover {
    background-color: #d9cb00;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1)
}

#servicos {
    background: linear-gradient(90deg, #ffaa9f, #ffa5f0)
}

#servicos ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center
}

#servicos li {
    flex-basis: calc(33.33% - 20px);
    background-color: #fff4fd;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 35px 35px 35px 35px;
    padding: 20px;
    transition: all .3s ease
}

#servicos h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: Helvetica Neue, sans-serif;
    margin-bottom: 30px
}

#equipe {
    padding: 50px;
    text-align: center;
    background: linear-gradient(90deg, #9affff, #0091ff);
    color: #000
}

#equipe h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: Helvetica Neue, sans-serif;
    margin-bottom: 30px
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px
}

.nextButton,
.prevButton {
    background: none;
    border: none;
    width: 10%
}

.nextButton:hover,
.prevButton:hover {
    background-color: hsla(0, 0%, 100%, .2)
}

.nextButton img,
.prevButton img {
    width: 100%;
    cursor: pointer;
    opacity: .7
}

.nextButton img:hover,
.prevButton img:hover {
    opacity: 1
}

.professionalsContainer {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto
}

.professional {
    display: flex;
    width: 33.33%;
    margin-right: 20px;
    border: 1px solid #ffe7e7;
    background-color: #f6ffe0;
    border-radius: 4px;
    overflow: hidden
}

.professional:last-child {
    margin-right: 0
}

.professional img {
    width: 50%;
    height: auto;
    object-fit: cover
}

.professional div {
    padding: 20px;
    width: 50%
}

.professional h3 {
    text-align: center;
    font-size: 1.5em;
    font-family: Helvetica Neue, sans-serif;
    margin-bottom: 30px
}

.professional p {
    margin-bottom: 10px
}

.nextButton {
    margin-left: auto
}

#contato {
    text-align: center;
    padding: 50px;
    background-color: #f8f9fa
}

#contato h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: Helvetica Neue, sans-serif;
    margin-bottom: 30px
}

#contato .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px
}

#contato .info-container {
    width: 30%;
    text-align: left
}

#contato .location-container {
    width: 70%;
    text-align: left
}

#contato ul {
    list-style: none;
    padding: 0
}

#contato li {
    margin-bottom: 10px
}

#contato a,
#contato li {
    display: flex;
    align-items: center;
    gap: 5px
}

#contato a {
    text-decoration: none;
    color: inherit
}

#contato a:hover {
    color: #007bff
}

#contato .icon {
    font-size: 1.5em;
    color: #6c757d
}

#contato .map-container {
    margin-top: 20px
}

@media screen and (max-width:768px) {

    #contato .info-container,
    #contato .location-container {
        width: 100%;
        margin-bottom: 20px
    }
}

#especialidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(90deg, #fff2b7, #ffd000)
}

#especialidades h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: Helvetica Neue, sans-serif;
    margin-bottom: 30px
}

#especialidades ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0
}

#especialidades li {
    background-color: #fff;
    flex-basis: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease
}

#especialidades li:first-child {
    margin-left: 0;
    color: red
}

#especialidades li:nth-child(2) {
    color: #0f0
}

#especialidades li:nth-child(3) {
    color: #00f
}

#especialidades li:nth-child(4) {
    color: #f0f
}

#especialidades li:nth-child(5) {
    color: #5e5e00
}

#not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh
}

#not-found h2 {
    font-size: 3rem;
    margin-bottom: 20px
}

#not-found p {
    font-size: 1.5rem;
    margin-bottom: 20px
}

#not-found a {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease
}

#not-found a:hover {
    background-color: #0069d9
}